@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,700i&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(23, 34, 42);
}

html {
  scroll-behavior: smooth;
}

/* =====================================================
GENERAL FONT SETTINGS 
========================================================*/
ul,
a,
button,
h1,
h3 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 1em;
  color: white;
}
/* =====================================================
GENERAL FONT SETTINGS 
========================================================*/

/* =====================================================
NAVBAR
========================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: rgba(23, 34, 42, 0.95);
  position: fixed;
  z-index: 999;
}

header input {
  display: none;
}

.logo {
  cursor: pointer;
  margin-right: 20px;
}

.nav__container {
  display: flex;
  justify-content: center;
}

header nav {
  list-style: none;
}

header nav li {
  display: inline-block;
  padding: 0px 20px;
}

header nav li a {
  transition: all 0.3s ease 0s;
}

header nav li a:hover {
  color: rgba(60, 242, 139, 1);
}

ul button {
  padding: 0.75em 3em;
  background-color: rgba(60, 242, 139, 1);
  border: none;
  color: black;
  transition: all 0.3s ease 0s;
}

ul button:hover {
  background-color: rgba(60, 242, 139, 0.8);
  cursor: pointer;
}
/* =====================================================
NAVBAR
========================================================*/

/* =====================================================
HERO DIV
========================================================*/
.herodiv {
  background-image: linear-gradient(
      160deg,
      rgba(0, 0, 0, 0.3),
      rgba(50, 64, 84, 0.7)
    ),
    url(/assets/img/brushes-3129361_1920.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 850px;
  max-height: 1000px;
  display: flex;
  align-items: center;
}

.herodiv h1 {
  font-size: 2.5rem;
  opacity: 0;
  animation-name: heroheaders;
  animation-duration: 500ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.herodiv h3 {
  color: rgb(219, 218, 218);
  padding-top: 2em;
  text-transform: capitalize;
  opacity: 0;
  animation-name: heroheaders;
  animation-duration: 550ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes heroheaders {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.herodiv div {
  background-color: rgba(23, 34, 42, 0.9);
  height: 480px;
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  text-align: end;
  padding-right: 3em;
  position: absolute;
  top: 25%;
  opacity: 0;
  animation-name: hero;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hero {
  0% {
    left: -950px;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

.hero__search {
  width: 250px;
  align-self: flex-end;
  margin-top: 1em;
  height: 2.5em;
  font-size: 1em;
  margin-bottom: 1em;
}

.herodiv button {
  padding: 0.75em 3em;
  background-color: rgba(60, 242, 139, 1);
  border: none;
  color: black;
  transition: all 0.3s ease 0s;
  width: 250px;
}

.herodiv button:hover {
  background-color: rgba(60, 242, 139, 0.8);
  cursor: pointer;
}

/* =====================================================
HERO DIV
========================================================*/

/* =====================================================
多多COMO FUNCION??
========================================================*/
.como__funciona {
  min-height: 600px;
  background-color: white;
  display: grid;
  grid-template-rows: minmax(auto) minmax(auto);
  grid-template-columns: minmax(1em, 1fr) minmax(auto) minmax(1fr, 1em);
}

.como__funciona h1 {
  color: #141414;
  font-size: 2em;
  text-align: center;
}
/* =====================================================
多多COMO FUNCION??
========================================================*/

/* =====================================================
FOOTER
========================================================*/
.footer {
  min-height: 200vh;
}
/* =====================================================
FOOTER
========================================================*/

/* =====================================================
@MEDIA TABLET & DOWN BREAKPOINT
========================================================*/
@media screen and (max-width: 768px) {
  header {
    display: block;
    margin: 0;
    padding: 20px 1em;
    width: 100%;
    text-align: center;
    position: fixed;
  }

  header nav {
    background-color: rgba(23, 34, 42, 0.95);
    position: absolute;
    text-align: left;
    left: 0;
    top: 100%;
    display: block;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 400ms ease-in-out;
    width: 100%;
  }

  .nav__toggle {
    display: none;
  }

  .nav__toggle__label {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__toggle__label span,
  .nav__toggle__label span::before,
  .nav__toggle__label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 3px;
    position: relative;
  }

  .nav__toggle__label span::before,
  .nav__toggle__label span::after {
    content: "";
    position: absolute;
  }

  .nav__toggle__label span::before {
    bottom: 8px;
  }

  .nav__toggle__label span::after {
    top: 8px;
  }

  header nav li {
    margin: 2rem 0;
    display: block;
  }
  header nav li a {
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  button {
    font-size: 1.2rem;
    padding: 0.75em 2em;
  }

  .nav__toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav__toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 270ms;
  }

  .herodiv {
    min-height: 550px;
  }

  .herodiv h1 {
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1.7rem;
    text-align: center;
  }

  .herodiv h3 {
    display: none;
  }

  .herodiv div {
    height: 400px;
    display: flex;
    width: 80%;
    top: 100px;
    padding-right: 1.7em;
    align-items: center;
  }

  .hero__search {
    width: 175px;
    margin-top: 0.5em 0;
    align-self: center;
  }

  .herodiv button {
    width: 175px;
    font-size: 1rem;
    margin: 0.5em 0;
  }
}
/* =====================================================
@MEDIA TABLET & DOWN BREAKPOINT
========================================================*/
